<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


tlumaczenie_z {{ tlumaczenie_z }} <br>
tlumaczenie_do    {{ tlumaczenie_do }} <br>
liczba_znakow {{ liczba_znakow }} <br>
cena_hidden {{ cena_hidden }} <br>
dane {{ dane }} <br>
rodzaj    {{  rodzaj }} <br>
imie {{ imie }} <br>
nazwisko {{ nazwisko }} <br>
email    {{  email }} <br>
telefon    {{  telefon }} <br>
firma {{ firma }} <br>
firma_adres    {{  firma_adres }} <br>
firma_nip    {{  firma_nip }} <br>
plik    {{  plik }} <br>
termin    {{  termin }} <br>
informacje {{ informacje }} <br>


</body>
</html>